[defaults]
inventory = inventory/hosts.ini

# Usuario SSH por defecto con el que Ansible se conectará
remote_user = ansible

host_key_checking = False

# Desactiva la creación de archivos .retry cuando algo falla
retry_files_enabled = False

# Formatea la salida de la terminal de forma más legible y estructurada
stdout_callback = yaml